@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.bg-primary-dark {
    background-color: #161920 !important;
}

.bg-header-dark {
    background-color: black !important;
}

.game-div:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#dropdown-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    z-index: 1;
}
